body {
  margin: 0;
}

.App {
  height: 100vh;
  background-color: #85a8c5;
  position: relative;
}

.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  margin: 20px;
  max-width: calc(100vw - 40px);
  background-color: red;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 290px;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}

/* final stage */

.slideBtn {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  z-index: 10;
  background: #000;
  color: white;
}

.slideBtn.prev {
  left: 40px;
}

.slideBtn.next {
  right: 40px;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
}
